---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'; /* <-- Ajoute cette ligne */
import '../styles/global.css';
---

<!doctype html>
<html lang="fr"> 
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Association pour l'Étude de l'Europe Sociale</title>
	</head>
    <!-- flex et min-h-screen permettent de pousser le footer tout en bas même si la page est vide -->
	<body class="flex flex-col min-h-screen"> 
        <Header /> 
        
        <!-- Le contenu spécifique de chaque page viendra s'insérer ici -->
        <slot /> 

        <Footer /> 
	</body>
</html>